  /*background-color: #160962;
    background: #080325;*/
html,body{
    font: 14px/1.42857 Lato,sans-serif;
    background: linear-gradient( rgb(8, 3, 37)50%,rgb(60, 10, 60) 100%) !important;
    
}

.bg-colorbotomtext{
    color:  #fbfbfb !important;
    text-shadow: 0.2em 0.2em 0.15em 

}
.bg-barracolor{
    background-color: rgba(8, 3, 37, 0.537) !important;
}
.bg-colormenu{
    color: #ffffff !important ;
    text-shadow: 0.1em 0.5em 0.15em 

}
.ola{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header{
    width: 100%;
    min-height: 100vh;
    min-height: 100vh;
    position: absolute;
    top:0;
    left: 0;

   background:  #080325;  
   background: linear-gradient(to right, hsla(249, 83%, 21%, 0.51), hsla(249, 83%, 21%, 0.475)), url(/assets/images/inicio.jpeg); 
   background: linear-gradient(to right, hsla(249, 83%, 21%, 0.236), hsla(249, 83%, 21%, 0.308)), url(/assets/images/inicio.jpeg); 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;

   position: relative;
}

.bg-colortexthis{
    color: rgb(255, 255, 255);
}

.bg-galery{
    color: rgb(255, 255, 255);
}

.bg-letra{
    color: rgb(255, 255, 255);
}


  

@media (max-width:900px){
    .container-mobile{
        max-width: 95%;
    }
}



@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

@media (min-width: 560px) and (max-width: 650px) {
  header .jarallax h1 {
    margin-bottom: .5rem !important;
  }
  header .jarallax h5 {
    margin-bottom: .5rem !important;
  }
}


@media (min-width: 660px) and (max-width: 700px) {
  header .jarallax h1 {
    margin-bottom: 1.5rem !important;
  }
  header .jarallax h5 {
    margin-bottom: 1.5rem !important;
  }
}


@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #9da4b1 !important;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #9da4b1!important;
    }
}



